- extends "_base.html"
- load staticfiles

block head
  link(rel='stylesheet', href='{{ STATIC_URL }}resume/css/resume.css')

block title
  |Jérôme Martin, IT Project Manager

block header
  img.small.round(src='{{ STATIC_URL }}resume/img/profile.jpg', alt='A photo of myself')
  h1 Jérôme Martin
  aside Software &amp; Web Developer · Project Manager
  aside Welcome to my personal webpage!
  hr
  nav
    a(href="#intro") Introduction
    |  · 
    a(href="#experiences") Job experiences
    |  · 
    a(href="#projects") Personal projects
    |  · 
    a(href="#contact") Contact
  hr

block content
  h1#intro Introduction

  h2 I am a 
    strong software &amp; web developer
  p Hello there! My name is Jérôme Martin, I'm a French software developer currently working at 
    strong Ubisoft
    | . This is my personal web page where I talk about information technologies and how to make our world a better place to live in.
  p This website is also my resume, so if you want to know what kind of developer I am, just read on! What I can tell you is that I like working with C#, Python, Open Source technologies, continuous integration systems, and people willing to share code.

  h2 I also do 
    strong project manage&shy;ment
  p You know, things like trying to get a project done while holding back the continous stream of wacky improvements the client is asking for, keeping an eye on the 
    strong budget 
    | which will get broken anyways, and motivating the 
    strong team 
    | to meet the deadline even if John is home sick, Robert is out taking a business training course, and someone deleted the Facebook certificate by mistake when reinstalling his operating system. Well my job is to get all of that 
    strong covered 
    | and expected 
    strong before it happens.

  h2 I have faith in 
    strong human beings
  p Project management may be about schedules, performance indicators, lots of schemas and piles of documentation. But in the end, it always sums up to 
    strong human interactions
    | , and to your team's will to get to the objective. I believe in 
    strong happiness at work
    | , and think that people who are free to do their best will always do so if they know where they are going and why. Precise and well defined 
    strong objectives 
    | are the key, along with constant communication and short iterations. You guessed it already, I like 
    strong scrum 
    | and 
    strong agile 
    | methods.

  h2 I want to work 
    strong with you
  p I can find my place in any working environment, as long as it permits me to express my 
    strong passion 
    | for my job and gives me the ability to push the company forward.
  p You are a small company growing up fast, even maybe a bit faster than expected, and you are starting to feel the need for more 
    strong organization structure 
    | to assure a better 
    strong quality of service 
    | and lead your project teams? I would be happy to help! You are a big international company kicking off 
    strong new projects 
    | everyday, hiring like crazy? Glad to meet you, when do I start?

  h2 More about me
  p I love to travel, meet new people, share with them, and learn languages on the way. Discussing different points of view with people all around the globe is my raison d'etre, so whether you are interested in hiring me, or just want to know more, don't hesitate to contact me using the links 
    a(href="#contact") right below
    | , and download my complete resume.

  h2.center &#10086;

  h1#experiences Job experiences

  a.right(href="https://www.ubisoft.com") www.ubisoft.com
  h2 Ubisoft
  p I've been working for one and a half year at Ubisoft Paris, on a video game called 
    strong Just Dance
    | . Working with such talented people using state of the art technologies is definitely a fulfilling experience, and I love every minute there.
  p I am in the 
    strong Tools team
    | , which is the department in charge of developping software for other developers and artists working on the game. We're using mostly 
    strong C# 
    | (version 6) and 
    strong .NET 
    | technologies like the Windows Presentation Foundation (WPF) or the Open Web Interface for .NET (OWIN), that are both modern and efficient initiatives from Microsoft and the .NET open source community.
  p In this team, I've been maintaining a solution of more than 
    strong 100 different software projects
    | , including desktop applications, web dashboards, automatic build systems, After Effects plugins, custom video players, and much more.

  a.right(href="https://www.zero-gachis.com") www.zero-gachis.com
  h2 Zéro-Gâchis
  p Zéro-Gâchis is a small French startup with the objective of reducing food waste in super markets. I worked 
    strong one year 
    | with them when the team was only 4 people, thus I had room for initiatives and tight feedback loops with customers.
  p I developed a lot of custom backoffice pages for their website using the famous Python framework 
    strong
      a(href="https://www.djangoproject.com/") Django
    | , which is actually used for this personal webpage too! I also developed 
    strong embedded applications 
    | using C# on professional devices running Windows CE.
  p Finally, I designed a WPF desktop application that is currently used in more than 100 supermarkets around the world. I even did some training sessions for that software directly with end users.

  h2 Internships
  p During my 5 years studies of Computer Science and IT Management, I carried out various internships that you can find in my 
    a(href='{{ STATIC_URL }}resume/docs/JeromeMartinResume.pdf') resume
    |  and in my 
    a(href='https://careers.stackoverflow.com/jerome-martin-304812') Stackoverflow webpage
    | . In total, I worked two cumulated years as an intern in 4 different companies, gathering precious knowledge and getting used to the business world.

  h2.center &#10086;

  h1#projects Personal Projects

  h2 Game development
  div.medium.right
    img(src='{{ STATIC_URL }}resume/img/fxp2.png', alt='Game engine', title='Game engine')
  p I'm currently working on a 2D game engine and editor solution using Python and XML. The idea came from a will to blend a lot of technologies I knew and learn at Ubisoft into a project that would be highly modular and data-driven.
  p At the opposite of what I experienced with state-of-the-art technologies that I use in my daily job, I wanted to take the time to go back, and use good old technologies that were proven robust and used everywhere: 
    strong XML 
    | (which I'm pretty sure will still be here for a long time) and combine it with modern design patterns and a very dynamic language, 
    strong Python
    | .
  p In the end, I came up with a system driven by XML files that directly correspond to Python classes inside modules. Then using a game engine written in Python, I can load up the files and display a game scene, a user interface, a character, ennemies... all designed inside modular and self-contained Python modules.
  div.medium.left
    img(src='{{ STATIC_URL }}resume/img/fxpqeditor.png', alt='Quest game editor', title='Quest game editor')
  p The best part is that using a desktop software, you can change data on the fly, and your changes will be immediately reflected into the game without the need to restart it, which makes it easier for level designers to try out things, add and remove entities from the scene...etc
  p It's my job to design tools for other employees, but I also love doing that on my free time, when I'm not sewing, gardening, or learning foreign langages.
  p You can find all my coding projects on 
    strong
      a(href="https://github.com/euhmeuh") GitHub
    | .

  h2.center &#10086;

  h1#contact Contact
  ul
    li
      a(href='mailto:jerome.martin.dev+resume@gmail.com?Subject=Hello, we are interested in your profile but would like to know more about you') Email me
    li
      a(href='https://careers.stackoverflow.com/jerome-martin-304812') Stackoverflow Careers
    li
      a(href='https://github.com/euhmeuh') Github
    li
      a(href='{{ STATIC_URL }}resume/docs/JeromeMartinResume.pdf') Download my pdf resume

  hr

  h2 Footnotes
  p This website runs with 
    a(href="https://djangoproject.com") Django
    |, the web framework for perfectionists with deadlines. The technology is based on 
    a(href="https://python.org") Python
    |, the best programming language in the world.

block footer
  p.copyright © 2017 Jérôme Martin, All rights reserved
    br
    |Photo credits: © Régis Routier | Ville de Nantes
    br
