@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
       url('/fonts/FiraCode-Regular.woff') format('woff'),
       url('/fonts/FiraCode-Regular.ttf') format('truetype'),
       url('/fonts/FiraCode-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-Regular.woff2') format('woff2'),
       url('/fonts/SourceSerifPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes focus {
  0% {
    outline: 1px solid;
    outline-offset: 1em;
  }
  100% {
    outline: 6px solid;
    outline-offset: .10em;
  }
}

a {
  color: #007fc5;
}

a:visited {
  color: #D88551;
}

a:focus {
  outline: 6px solid;
  outline-offset: .10em;
  animation: focus .15s
}

html {
  font-family: "Fira Code";
  background-color: #008a8a;
  background-image: url("/bg.png");
  padding-top: 24px;
  padding-bottom: 24px;
}

body {
  min-width: 26ch;
  max-width: 60ch;
  width: 100%;
  margin: 0 auto;
  background-color: #fff7e6;
  box-shadow: 8px 8px #006262;
}

@media (orientation: landscape) {
  body {
    padding: 60px;
    padding-left: 96px;
    background-image: url('/border.svg');
    background-position: top left;
    background-repeat: repeat-y;
    border-image:  url("/edge.svg") 2 / 10px / 10px round;
  }
}

@media (orientation: portrait) {
  body {
    width: auto;
    padding: 10px;
  }
}

p, ul {
  font-family: "Source Serif Pro";
}

article p {
  font-size: larger;
  text-align: justify;
  hyphens: auto;
}

ul li {
  font-size: initial;
  margin-top: 4px;
  margin-bottom: 4px;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

body > header img {
  width: 100%;
  max-width: 316px;
}

body > header h1,
body > header aside {
  text-align: center;
}

@media (orientation: landscape) {
  body > header {
    flex-direction: row;
    align-items: flex-start;
  }

  body > header img {
    width: 200px;
  }

  body > header h1,
  body > header aside {
    text-align: left;
  }
}

nav {
  margin: 2em 0;
}

nav ul:first-child {
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
}

nav ul:first-child li {
  display: inline-block;
  padding-right: .5em;
}

nav ul:first-child li::before {
  content: '/';
  padding-right: .5em;
}

.flex-1 {
  flex: 1;
}

header.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote {
  border-left: solid 5px #D88551;
}

blockquote {
  margin-left: 20px;
  margin-right: 0px;
}

blockquote p {
  font-size: initial;
  font-style: italic;
}

figcaption {
  margin-left: 10px;
}

figcaption .author {
  font-weight: bold;
}

.hidden {
  opacity: 0;
  position: absolute;
  left: -9999px;
  top: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  pointer-events:none
}

.small {
  font-size: small;
}

.big {
  font-size: larger;
  font-family: "Fira Code";
}

.center {
  text-align: center;
}

.width-50 {
  width: 50%;
}

.important-link:before {
  content: url("/right-pointing-hand.svg");
  margin-right: 7px;
}

hr {
  border: none;
  border-top: 1px solid #33333380;
  margin: 2em 0;
}

hr.fancy {
  padding: 0;
  margin: 48px 0 -24px 0;
  border-top: medium double #33333380;
  color: #333333;
  text-align: center;
  overflow: visible;
}

hr.fancy:after {
  content: '\2766';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 .25em;
  background: #fff7e6;
}

body > header h1,
body > header aside,
hr.fancy {
  filter: url("#f-jitter-large") url("#f-jitter-small");
}

hr {
  filter: url("#f-jitter-small");
}

h2, h3 {
  margin: 2em 0 1em 0;
}

h2:target,
h3:target {
  animation: focus .5s;
}

article h2::before,
article h3::before,
article h2::after,
article h3::after {
  font-family: "Fira Code";
  color: #D88551;
  font-size: 1rem;
  font-weight: normal;
}

article h2::before {
  content: '(art ';
}

article h3::before {
  content: '(sec ';
}

article h2::after,
article h3::after {
  content: ')';
}

section.block {
  padding: 1.5em;
  margin-top: 1.5em;
  background-color: #ffe6af;
}

section.block.block-grey {
  color: #4b4b4b;
  background-color: #e7e7e7;
}

code {
  font-family: "Fira Code";
}

code.inline {
  font-size: .75em;
  border: solid 1px #D88551;
  background-color: #fff;
  border-radius: .5em;
  padding: 2px;
  white-space: nowrap;
}

.code {
  background-color: #faebd7;
}

.code .header {
  background-color: #ffdbac;
  padding: 5px;
}

.code .header div {
  display: inline-block;
}

.code .header .language {
  text-align: right;
}

.code pre,
.console pre {
  padding: 15px;
  margin: 0;
}

.console {
  background-color: #004c4c;
  color: #fff;
}

.console .title {
  background-color: #007d7d;
  text-align: right;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: solid 1px black;
}

th, td {
  padding: 5px;
}

img.illus {
  width: 552px;
  border: 12px solid white;
  box-shadow: 4px 4px 4px #c4c4c4;
}

footer img {
  width: 100%;
  max-width: 574px;
}
