@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
       url('/fonts/FiraCode-Regular.woff') format('woff'),
       url('/fonts/FiraCode-Regular.ttf') format('truetype'),
       url('/fonts/FiraCode-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes focus {
  0% {
    outline: 1px solid;
    outline-offset: 1em;
  }
  100% {
    outline: 6px solid;
    outline-offset: .10em;
  }
}

a {
  color: #007fc5;
}

a:visited {
  color: #D88551;
}

a:focus {
  outline: 6px solid;
  outline-offset: .10em;
  animation: focus .15s
}

html {
  font-family: "Fira Code";
  background-color: #008a8a;
}

body {
  min-width: 26ch;
  max-width: 60ch;
  width: 100%;
  margin: 0 auto;
  background-color: #fff7e6;
}

@media (orientation: landscape) {
  body {
    padding: 60px;
    border-left: dotted 15px #008a8a;
    border-right: dotted 15px #008a8a;
  }
}

@media (orientation: portrait) {
  body {
    width: auto;
    padding: 10px;
  }
}

aside {
  width: 50%;
  float: right;
}

aside p {
  margin: 10px;
  text-align: right;
}

p, ul {
  font-family: "Source Serif Pro";
}

p {
  font-size: larger;
  text-align: justify;
}

ul li {
  font-size: initial;
  margin-top: 4px;
  margin-bottom: 4px;
}

nav ul li {
  font-size: larger;
  font-family: "Fira Code";
}

.quote {
  border-left: solid 5px #008a8a;
}

blockquote {
  margin-left: 20px;
  margin-right: 0px;
}

blockquote p {
  font-size: initial;
  font-style: italic;
}

figcaption {
  margin-left: 10px;
}

figcaption .author {
  font-weight: bold;
}

.small {
  font-size: small;
}

.center {
  text-align: center;
}

.important-link:before {
  content: url("/right-pointing-hand.svg");
  margin-right: 7px;
}

hr.fancy {
  padding: 0;
  margin: 1.5em 0 -1.5em 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  overflow: visible;
}

hr.fancy:after {
  content: '\2766';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #fff7e6;
}

h2:target,
h3:target {
  animation: focus .5s;
}

article h2::before,
article h3::before,
article h2::after,
article h3::after {
  font-family: "Fira Code";
  color: #D88551;
  font-size: 1rem;
  font-weight: normal;
}

article h2::before {
  content: '(article ';
}

article h3::before {
  content: '(section ';
}

article h2::after,
article h3::after {
  content: ')';
}

code {
  font-family: "Fira Code";
}

code.inline {
  font-size: .75em;
  border: solid 1px #D88551;
  background-color: #fff;
  border-radius: .5em;
  padding: 2px;
}

.code {
  background-color: #faebd7;
}

.code .language {
  background-color: #ffdbac;
  text-align: right;
  padding: 5px;
}

.code pre {
  padding: 15px;
  margin: 0;
}
