- extends "_base.html"
- load staticfiles

block head
  link(rel='stylesheet', href='{{ STATIC_URL }}main/css/home.css')

block title
  |Home

block content
  h1 Rilouw.eu
  p Welcome to the vegetable garden!
    br
    | 野菜畑へようこそ
    br
    | Bienvenue dans le potager !

  p Click 
    a(href="{% url 'resume' %}") here
    |  for my resume

block footer
  img(src='{{ STATIC_URL }}main/img/fishroom_logo.png', alt='魚室会社 Fishroom Corp.')
