html {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (orientation: landscape) {
  html {
    background-image: url('../img/bg_desktop.jpg');
  }
}

@media (orientation: portrait) {
  html {
    background-image: url('../img/bg_mobile.jpg');
  }
}

#content {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 20px #000;

  text-align: center;
}
